<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main">
    <h1>My Git Recipes</h1>
    <p>Welcome to My Git Recipes</p>
    <ul id="recipes" class="recipes-title">
    </ul>
    </div>
  </body>
<script src="/javascripts/jquery/dist/jquery.js"></script>
<script src="/javascripts/main.js"></script>
</html>
