body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #B56262;
}

a {
  color: #00B7FF;
}

#main {
  width: 800;
  border: solid 1px #000000;
  background-color: #CFCFCF;
  padding: 10px;
}

.ingredients{
  background-color: slategrey;
  border: solid 1px;
  padding: 5px 0px 5px 20px;
  display: none;
  width: 290px;
}

#inner-container {
  width: 355px;
  display: block;
}

#recipes > li {

  background-color: #76BBBB;
  border: 1px solid #999696;
  border-bottom-width: .5px;
  width: 300px;
  padding: 5px;
}

#recipes li {
  list-style-type: none;
}

#add {
  float: right;
  position: relative;
  margin-right: 22px;
  margin-top: -19px;

}

#add-recipe {
  display: none;
}

#recipe-description {
    width: 800px;
}